# Git
.git
.gitignore

# IDE
.vscode/
.idea/
*.iml

# Node
node_modules/
npm-debug.log
.DS_Store

# Build artifacts
target/
**/target/
*.class
**/*.class
*.jar
**/*.jar
*.war
**/*.war
*.exec
**/*.exec
examples/aem-test-verified/target
examples/aem-test-verified/target/**

# Maven
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# Test
coverage/
.nyc_output/

# Temp
*.tmp
*.bak
*.swp
